<div class="container-fluid">
  <h1 align="center">
    <img src="../logo.png" width="64"/>
    <b>Facebook Birthday Wisher</b>
    <br/>
    <small>v2.3.2</small>
  </h1>
  <div class="row row-centered">
    <nav role="navigation" class="navbar navbar-default nav">

      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn" ng-class="active">
        <ul class="nav navbar-nav">
          <li><a routerLink="/" routerLinkActive="active"><i
            class="fa fa-home"></i> Home</a></li>
        </ul>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn">
        <ul class="nav navbar-nav">
          <li><a routerLink="/settings"><i
            class="fa fa-cog"></i> Settings</a></li>
        </ul>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn">
        <ul class="nav navbar-nav">
          <li><a routerLink="/about"><i
            class="fa fa-question"></i> About</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
