<div class="container">
  <accordion [showArrows]="true">
    <accordion-group heading="What is Facebook Birthday Wisher?">
      <b>Facebook Birthday Wisher</b> is a Google Chrome extension to automatically wish your friends on their birthdays.
    </accordion-group>
    <accordion-group heading="How does this tool work?">
      Every day, when you open your Chrome browser, the tool opens the Facebook birthday page and populates the message boxes with random birthday messages and posts it on their wall.
    </accordion-group>
    <accordion-group heading="Does the tool do anything with my private Facebook data?">
      Absolutely not !!! The tool runs only on your browser and your private data is not stored anywhere else.
    </accordion-group>
    <accordion-group heading="What if I am not logged into my Facebook account?">
      The tool will not work if you are not logged into your Facebook account.
    </accordion-group>
    <accordion-group heading="How many languages are supported?">
      Only English is supported at the moment. Support will be added slowly for other languages.
    </accordion-group>
    <accordion-group heading="How do I configure the Birthday messages?">
      Check the <a routerLink="/settings">Settings</a> section.
    </accordion-group>
    <accordion-group heading="Is my data synced across all browsers?">
      Yes. Your data is synced across all browsers, provided you have <a href="https://support.google.com/chrome/answer/185277" target="_blank">logged into your browser</a>
      using your Google account.<br/>
      <code>Note</code>: If you uninstall this extension, all your data will be lost.
    </accordion-group>
  </accordion>
</div>
